<header class="header">
    <div class="header__content">
        <a href="/" class="logo header__logo">Секреты Болотова</a>
        <ul class="menu header__menu">
            <li class="menu__item">
                <a href="#" class="menu__link">Меню</a>
            </li>
            <li class="menu__item">
                <a href="#" class="menu__link">Меню</a>
            </li>
            <li class="menu__item">
                <a href="#" class="menu__link">Меню</a>
            </li>
            <li class="menu__item">
                <a href="#" class="menu__link">Меню</a>
            </li>
            <li class="menu__close">
                <?xml version="1.0" encoding="iso-8859-1"?>
                <svg fill="#000000" height="800px" width="800px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                    viewBox="0 0 512 512" xml:space="preserve">
                <g>
                    <g>
                        <polygon points="512,59.076 452.922,0 256,196.922 59.076,0 0,59.076 196.922,256 0,452.922 59.076,512 256,315.076 452.922,512 
                            512,452.922 315.076,256 		"/>
                    </g>
                </g>
                </svg>
            </li>
        </ul>
        <button type="button" class="burger">
            <svg width="30" height="20" viewBox="0 0 30 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="30" height="2" fill="#404040"/>
                <rect y="9" width="30" height="2" fill="#404040"/>
                <rect x="15" y="18" width="15" height="2" fill="#404040"/>
            </svg>
        </button>
    </div>
    <div class="overlay"></div>
</header>