<main class="main">
    <div class="main__content">
        <div class="main__info">
            <h1 class="sectionTitle main__sectionTitle">Откройте секреты долголетия академика Болотова</h1>
            <h2 class="text main__text main__text_italic">Узнайте, как жить дольше и здоровее с эксклюзивными методиками академика Болотова</h2>
            <h2 class="text main__text_gaid">Получить гайд за <span class="main__text_price">20€</span><span class="main__text_free">Бесплатно</span></h2>
            <h3 class="text main__akciya">Акция дейстует до <span>10.02</span></h3>
            <img class="main__img main__img_mobile" src="images/main_img_mobile.png" alt="">
            <div class="btnGroup">
                <a class="customButton" href="#">
                    Скачать бесплатно
                    <svg width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.5 17H13.5M7.5 1V13M7.5 13L11 9.5M7.5 13L4 9.5" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
                <a href="#" class="customButton customButton_transparent">
                    Узнать больше
                </a>
            </div>
        </div>
        <img class="main__img" src="images/main_img.png" alt="">
        <ul class="main__avatars">
            <li class="main__avatar">
                <img src="images/ava1.png" alt="">
            </li>
            <li class="main__avatar">
                <img src="images/ava2.png" alt="">
            </li>
            <li class="main__avatar">
                <img src="images/ava3.png" alt="">
            </li>
            <li class="main__avatar">
                <img src="images/ava4.png" alt="">
            </li>
        </ul>
    </div>
</main>
<section class="gide">
    <div class="container">
        <div class="gide__content">
            <div class="sectionTitle">В гайде вы узнаете:</div>
            <div class="gide__info">
                <div class="gide__img">
                    <img src="images/gide_img.png" alt="">
                </div>
                <ul class="gide__list">
                    <li class="gide__item">
                        <div class="gide__item-title text">Как бороться с угрозой преждевременного старения</div>
                        <div class="gide__item-desc">Узнайте секреты, которые помогут вам обрести молодость и энергию, не прибегая к дорогим процедурам.</div>
                    </li>
                    <li class="gide__item">
                        <div class="gide__item-title text">Как победить хронические заболевания без лекарств</div>
                        <div class="gide__item-desc">Откройте естественные методы лечения, которые могут восстановить ваше здоровье без побочных эффектов.</div>
                    </li>
                    <li class="gide__item">
                        <div class="gide__item-title text">Как улучшить качество жизни</div>
                        <div class="gide__item-desc">Познакомьтесь с простыми изменениями в образе жизни, которые сделают каждый ваш день лучше.</div>
                    </li>
                    <li class="gide__item">
                        <div class="gide__item-title text">Как преодолеть усталость и восстановить энергию</div>
                        <div class="gide__item-desc">Откройте для себя, как восстановить внутренний баланс и чувствовать себя полным сил каждое утро.</div>
                    </li>
                    <li class="gide__item">
                        <div class="gide__item-title text">Как защитить себя от современных загрязнений</div>
                        <div class="gide__item-desc">Изучите, как минимизировать вред от окружающей среды и укрепить свой иммунитет.</div>
                    </li>
                    <li class="gide__item">
                        <div class="gide__item-title text">Как восстановиться после болезней</div>
                        <div class="gide__item-desc">Получите инструменты для быстрого восстановления и возвращения к полноценной жизни.</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="bio">
    <div class="container">
        <div class="bio__content">
            <div class="bio__info">
                <div class="sectionTitle">Борис Болотов</div>
                <div class="bio__info-text">
                    <p>Великий ученый и исследователь в области долголетия и здорового образа жизни. Его работа посвящена разработке методик, которые помогают людям жить дольше и здоровее. На протяжении более чем пятидесяти лет академик Болотов изучал, как процессы старения и болезни можно замедлить или даже обратить вспять, используя естественные подходы и изменения в образе жизни.</p>
                    <p>Его теории и практические рекомендации привлекли тысячи последователей по всему миру. Благодаря своему глубокому пониманию биологии человека и физиологии, Болотов смог разработать уникальные методы омоложения и улучшения здоровья, которые оказались эффективными для многих.</p>
                </div>
                <div class="bio__quote">“...я
                    попытался дать вам основную суть моих взглядов и
                    надеюсь, что применяя их практически, вы сами сможете
                    ощутить их действенность...”
                    <img src="images/signature.svg" alt="signature" class="bio__quote_img">
                </div>
            </div>
            <div class="bio__img">
                <img src="images/bolotov.png" alt="bolotov">
            </div>
        </div>
    </div>
</section>
<section class="numbers">
    <div class="container">
        <div class="numbers__content">
            <div class="numbers__item">
                <div class="numbers__number">1050</div>
                <div class="numbers__text">Человек скачали гайд</div>
            </div>
            <div class="numbers__item">
                <div class="numbers__number">4,8/5</div>
                <div class="numbers__text">Средняя оценка</div>
            </div>
            <div class="numbers__item">
                <div class="numbers__number">97+</div>
                <div class="numbers__text">Отзывов</div>
            </div>
            <div class="numbers__item">
                <div class="numbers__number">41</div>
                <div class="numbers__text">Cтрана где доступен гайд</div>
            </div>
        </div>
    </div>
</section>
<section class="reviews">
    <div class="sectionTitle">
        Что говорят люди, применившие методы академика Болотова
    </div>
    <div class="reviews__slider">
        <div class="reviews__item">
            <div class="reviews__quote">“...Пять столетий спустя испытал всплеск популярности с выпуском сухого переноса листов. Эти листы надписи можно потереть на любом месте и были быстро приняты художники-графики, прин. архитекторов и рекламодателей для их профессионального вида и простоты использования включеныпроходы в арсеналом шрифтов...”</div>
            <a href="#" class="link reviews__link">Смотреть видео</a>
            <div class="reviews__group">
                <div class="reviews__group-left">
                    <div class="reviews__avatar">
                        <img src="images/ava1.png" alt="">
                    </div>
                </div>
                <div class="reviews__group-right">
                     <div class="reviews__info">
                        <div class="reviews__name">Валентина Андреева (44 года)</div>
                        <div class="reviews__group-right__group">
                            <div class="reviews__profession">Педагог</div>
                            <div class="reviews__date">07.02.2024</div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="reviews__item">
            <div class="reviews__quote">“...Пять столетий спустя испытал всплеск популярности с выпуском сухого переноса листов. Эти листы надписи можно потереть на любом месте и были быстро приняты художники-графики, прин. архитекторов и рекламодателей для их профессионального вида и простоты использования включеныпроходы в арсеналом шрифтов...”</div>
            <a href="#" class="link reviews__link">Смотреть видео</a>
            <div class="reviews__group">
                <div class="reviews__group-left">
                    <div class="reviews__avatar">
                        <img src="images/ava1.png" alt="">
                    </div>
                </div>
                <div class="reviews__group-right">
                     <div class="reviews__info">
                        <div class="reviews__name">Валентина Андреева (44 года)</div>
                        <div class="reviews__group-right__group">
                            <div class="reviews__profession">Педагог</div>
                            <div class="reviews__date">07.02.2024</div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="customButton customButton_transparent add_rev">Оставить отзыв</button>
</section>
<section class="form">
    <div class="sectionTitle">Получите свой путь к долголетию</div>
    <div class="form__subtitle">Заполните форму, чтобы скачать гайд</div>
    <div class="form__content">
        <div class="form__img">
            <img src="images/book.png" alt="book">
        </div>
        <form action="#" method="post" name="form">
            <h2 class="text main__text_gaid">Получить гайд за <span class="main__text_price">20€</span><span class="main__text_free">Бесплатно</span></h2>
            <h3 class="text main__akciya">Акция дейстует до <span>10.02</span></h3>
            <div class="form__inputs">
                <input type="text" placeholder="Ваше Имя">
                <input type="tel" placeholder="Ваш Tелефон">
                <input type="mail" placeholder="Ваш Email">
                <a class="customButton" href="#">
                    Скачать бесплатно
                    <svg width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.5 17H13.5M7.5 1V13M7.5 13L11 9.5M7.5 13L4 9.5" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
            </div>
        </form>
    </div>
</section>
<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <div class="footer__text">Copyright ©2023 All rights reserved.</div>
            <div class="footer__menu">
                <a href="#" class="footer__text">Terms of Use</a>
                <a href="#" class="footer__text">Privacy Policy</a>
                <a href="#" class="footer__text">Cookies</a>
            </div>
        </div>
    </div>
    <div class="addReview">
        <div class="addReview__heading">
            Оставить отзыв
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M14.851 2.45116C14.9366 2.36575 15.0044 2.26433 15.0507 2.1527C15.0971 2.04106 15.1209 1.92139 15.121 1.80053C15.1211 1.67967 15.0974 1.55997 15.0512 1.44828C15.005 1.33658 14.9373 1.23508 14.8518 1.14956C14.7664 1.06405 14.665 0.996191 14.5534 0.94987C14.4417 0.903548 14.3221 0.879668 14.2012 0.879594C14.0803 0.87952 13.9606 0.903252 13.849 0.949437C13.7373 0.995621 13.6358 1.06335 13.5502 1.14876L7.99984 6.69916L2.45104 1.14876C2.27833 0.976055 2.04409 0.879028 1.79984 0.879028C1.55559 0.879028 1.32135 0.976055 1.14864 1.14876C0.975933 1.32147 0.878906 1.55572 0.878906 1.79996C0.878906 2.04421 0.975933 2.27846 1.14864 2.45116L6.69904 7.99996L1.14864 13.5488C1.06313 13.6343 0.99529 13.7358 0.949008 13.8475C0.902727 13.9593 0.878906 14.079 0.878906 14.2C0.878906 14.3209 0.902727 14.4407 0.949008 14.5524C0.99529 14.6641 1.06313 14.7656 1.14864 14.8512C1.32135 15.0239 1.55559 15.1209 1.79984 15.1209C1.92078 15.1209 2.04054 15.0971 2.15227 15.0508C2.264 15.0045 2.36553 14.9367 2.45104 14.8512L7.99984 9.30076L13.5502 14.8512C13.723 15.0237 13.9571 15.1205 14.2012 15.1203C14.4453 15.1202 14.6793 15.0231 14.8518 14.8504C15.0243 14.6777 15.1212 14.4435 15.121 14.1994C15.1209 13.9553 15.0238 13.7213 14.851 13.5488L9.30064 7.99996L14.851 2.45116Z" fill="#C3C3C3"/>
            </svg>
        </div>
        <form action="#" class="addReview__form">
            <div class="form__inputs">
                <input type="text" placeholder="Ваше Имя">
                <input type="tel" placeholder="Ваш Tелефон">
                <input type="mail" placeholder="Ваш Email">
                <textarea name="" id="" cols="30" rows="10" placeholder="Введите текст"></textarea>
            </div>
            <div class="addReview__group">
                <div class="addReview__group-left">
                    <div class="addReview__text">Добавить видео</div>
                    <div id="dropZone" class="addReview__text_desc">
                        Перетащите файлы сюда или нажмите на кнопку. Формат видео ...
                        <input type="file" id="fileUpload">
                    </div>

                </div>
                <button type="button" class="addReview__add-file">Выбрать файлы</button>
                <input type="file" name="" id="" class="addReview__add-file_hidden">
            </div>
            <div class="addReview__btns">
                <button type="button" class="customButton customButton_transparent close_popup">Отменить</button>
                <button type="button" class="customButton">Оставить отзыв</button>
            </div>
        </form>
    </div>
</footer>