<main class="main">
    <div class="main__content">
        <div class="main__info">
            <h1 class="sectionTitle main__sectionTitle">Откройте секреты долголетия академика Болотова</h1>
            <h2 class="text main__text main__text_italic">Узнайте, как жить дольше и здоровее с эксклюзивными методиками академика Болотова</h2>
            <h2 class="text main__text_gaid">Получить гайд за <span class="main__text_price">20€</span><span class="main__text_free">Бесплатно</span></h2>
            <h3 class="text main__akciya">Акция дейстует до <span>10.02</span></h3>
            <img class="main__img main__img_mobile" src="images/main_img_mobile.png" alt="">
            <div class="btnGroup">
                <a class="customButton" href="#" download>
                    Скачать бесплатно
                    <svg width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.5 17H13.5M7.5 1V13M7.5 13L11 9.5M7.5 13L4 9.5" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
                <a href="#" class="customButton customButton_transparent">
                    Узнать больше
                </a>
            </div>
        </div>
        <img class="main__img" src="images/main_img.png" alt="">
        <ul class="main__avatars">
            <li class="main__avatar">
                <img src="images/ava1.png" alt="">
            </li>
            <li class="main__avatar">
                <img src="images/ava2.png" alt="">
            </li>
            <li class="main__avatar">
                <img src="images/ava3.png" alt="">
            </li>
            <li class="main__avatar">
                <img src="images/ava4.png" alt="">
            </li>
        </ul>
    </div>
</main>
{{!-- <section class="gide">
    <div class="container">
        <div class="gide__content">
            <div class="sectionTitle">В гайде вы узнаете:</div>
            <div class="gide__info">
                <div class="gide__img">
                    <img src="images/gide_img.png" alt="">
                </div>
                <ul class="gide__list">
                    <li class="gide__item">
                        <div class="gide__item-title text">Как бороться с угрозой преждевременного старения</div>
                        <div class="gide__item-desc">Узнайте секреты, которые помогут вам обрести молодость и энергию, не прибегая к дорогим процедурам.</div>
                    </li>
                    <li class="gide__item">
                        <div class="gide__item-title text">Как победить хронические заболевания без лекарств</div>
                        <div class="gide__item-desc">Откройте естественные методы лечения, которые могут восстановить ваше здоровье без побочных эффектов.</div>
                    </li>
                    <li class="gide__item">
                        <div class="gide__item-title text">Как улучшить качество жизни</div>
                        <div class="gide__item-desc">Познакомьтесь с простыми изменениями в образе жизни, которые сделают каждый ваш день лучше.</div>
                    </li>
                    <li class="gide__item">
                        <div class="gide__item-title text">Как преодолеть усталость и восстановить энергию</div>
                        <div class="gide__item-desc">Откройте для себя, как восстановить внутренний баланс и чувствовать себя полным сил каждое утро.</div>
                    </li>
                    <li class="gide__item">
                        <div class="gide__item-title text">Как защитить себя от современных загрязнений</div>
                        <div class="gide__item-desc">Изучите, как минимизировать вред от окружающей среды и укрепить свой иммунитет.</div>
                    </li>
                    <li class="gide__item">
                        <div class="gide__item-title text">Как восстановиться после болезней</div>
                        <div class="gide__item-desc">Получите инструменты для быстрого восстановления и возвращения к полноценной жизни.</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="bio">
    <div class="container">
        <div class="bio__content">
            <div class="bio__info">
                <div class="sectionTitle">Борис Болотов</div>
                <div class="bio__info-text">
                    <p>Великий ученый и исследователь в области долголетия и здорового образа жизни. Его работа посвящена разработке методик, которые помогают людям жить дольше и здоровее. На протяжении более чем пятидесяти лет академик Болотов изучал, как процессы старения и болезни можно замедлить или даже обратить вспять, используя естественные подходы и изменения в образе жизни.</p>
                    <p>Его теории и практические рекомендации привлекли тысячи последователей по всему миру. Благодаря своему глубокому пониманию биологии человека и физиологии, Болотов смог разработать уникальные методы омоложения и улучшения здоровья, которые оказались эффективными для многих.</p>
                </div>
                <div class="bio__quote">“...я
                    попытался дать вам основную суть моих взглядов и
                    надеюсь, что применяя их практически, вы сами сможете
                    ощутить их действенность...”
                    <img src="images/signature.svg" alt="signature" class="bio__quote_img">
                </div>
            </div>
            <div class="bio__img">
                <img src="images/bolotov.png" alt="bolotov">
            </div>
        </div>
    </div>
</section>
<section class="numbers">
    <div class="container">
        <div class="numbers__content">
            <div class="numbers__item">
                <div class="numbers__number">1050</div>
                <div class="numbers__text">Человек скачали гайд</div>
            </div>
            <div class="numbers__item">
                <div class="numbers__number">4,8/5</div>
                <div class="numbers__text">Средняя оценка</div>
            </div>
            <div class="numbers__item">
                <div class="numbers__number">97+</div>
                <div class="numbers__text">Отзывов</div>
            </div>
            <div class="numbers__item">
                <div class="numbers__number">41</div>
                <div class="numbers__text">Cтрана где доступен гайд</div>
            </div>
        </div>
    </div>
</section>
<section class="reviews">
    <div class="sectionTitle">
        Что говорят люди, применившие методы академика Болотова
    </div>
    <div class="reviews__slider">
        <div class="reviews__item">
            <div class="reviews__quote">“...Пять столетий спустя испытал всплеск популярности с выпуском сухого переноса листов. Эти листы надписи можно потереть на любом месте и были быстро приняты художники-графики, прин. архитекторов и рекламодателей для их профессионального вида и простоты использования включеныпроходы в арсеналом шрифтов...”</div>
            <a href="#" class="link reviews__link">Смотреть видео</a>
            <div class="reviews__group">
                <div class="reviews__group-left">
                    <div class="reviews__avatar">
                        <img src="images/ava1.png" alt="">
                    </div>
                </div>
                <div class="reviews__group-right">
                     <div class="reviews__info">
                        <div class="reviews__name">Валентина Андреева (44 года)</div>
                        <div class="reviews__group-right__group">
                            <div class="reviews__profession">Педагог</div>
                            <div class="reviews__date">07.02.2024</div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="reviews__item">
            <div class="reviews__quote">“...Пять столетий спустя испытал всплеск популярности с выпуском сухого переноса листов. Эти листы надписи можно потереть на любом месте и были быстро приняты художники-графики, прин. архитекторов и рекламодателей для их профессионального вида и простоты использования включеныпроходы в арсеналом шрифтов...”</div>
            <a href="#" class="link reviews__link">Смотреть видео</a>
            <div class="reviews__group">
                <div class="reviews__group-left">
                    <div class="reviews__avatar">
                        <img src="images/ava1.png" alt="">
                    </div>
                </div>
                <div class="reviews__group-right">
                     <div class="reviews__info">
                        <div class="reviews__name">Валентина Андреева (44 года)</div>
                        <div class="reviews__group-right__group">
                            <div class="reviews__profession">Педагог</div>
                            <div class="reviews__date">07.02.2024</div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="customButton customButton_transparent">Оставить отзыв</a>
</section> --}}
<section class="form">
    <div class="sectionTitle">Получите свой путь к долголетию</div>
    <div class="form__subtitle">Заполните форму, чтобы скачать гайд</div>
    <div class="form__content">
        <div class="form__img">
            <img src="images/book.png" alt="book">
        </div>
        <form action="#" method="post" name="form">
            <h2 class="text main__text_gaid">Получить гайд за <span class="main__text_price">20€</span><span class="main__text_free">Бесплатно</span></h2>
            <h3 class="text main__akciya">Акция дейстует до <span>10.02</span></h3>
            <div class="form__inputs">
                <input type="text" placeholder="Ваше Имя">
                <input type="tel" placeholder="Ваш Tелефон">
                <input type="mail" placeholder="Ваш Email">
                <a class="customButton" href="#" download>
                    Скачать бесплатно
                    <svg width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.5 17H13.5M7.5 1V13M7.5 13L11 9.5M7.5 13L4 9.5" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
            </div>
        </form>
    </div>
</section>
<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <div class="footer__text">Copyright ©2023 All rights reserved.</div>
            <div class="footer__menu">
                <div class="footer__text">Terms of Use</div>
                <div class="footer__text">Privacy Policy</div>
                <div class="footer__text">Cookies</div>
            </div>
        </div>
    </div>
</footer>