<main class="main">
    <div class="main__content">
        <div class="main__info">
            <h1 class="sectionTitle main__sectionTitle">Откройте секреты долголетия академика Болотова</h1>
            <h2 class="text main__text main__text_italic">Узнайте, как жить дольше и здоровее с эксклюзивными методиками академика Болотова</h2>
            <h2 class="text main__text_gaid">Получить гайд за <span class="main__text_price">20€</span><span class="main__text_free">Бесплатно</span></h2>
            <h3 class="text main__akciya">Акция дейстует до <span>10.02</span></h3>
            <img class="main__img main__img_mobile" src="images/main_img_mobile.png" alt="">
            <div class="btnGroup">
                <a class="customButton" href="#" download>
                    Скачать бесплатно
                    <svg width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.5 17H13.5M7.5 1V13M7.5 13L11 9.5M7.5 13L4 9.5" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
                <a href="#" class="customButton customButton_transparent">
                    Узнать больше
                </a>
            </div>
        </div>
        <img class="main__img" src="images/main_img.png" alt="">
        <ul class="main__avatars">
            <li class="main__avatar">
                <img src="images/ava1.png" alt="">
            </li>
            <li class="main__avatar">
                <img src="images/ava2.png" alt="">
            </li>
            <li class="main__avatar">
                <img src="images/ava3.png" alt="">
            </li>
            <li class="main__avatar">
                <img src="images/ava4.png" alt="">
            </li>
        </ul>
    </div>
</main>
<section class="gide">
    <div class="container">
        <div class="gide__content">
            <div class="sectionTitle">В гайде вы узнаете:</div>
            <div class="gide__info">
                <div class="gide__img">
                    <img src="images/gide_img.png" alt="">
                </div>
                <ul class="gide__list">
                    <li class="gide__item">
                        <div class="gide__item-title text">Как бороться с угрозой преждевременного старения</div>
                        <div class="gide__item-desc">Узнайте секреты, которые помогут вам обрести молодость и энергию, не прибегая к дорогим процедурам.</div>
                    </li>
                    <li class="gide__item">
                        <div class="gide__item-title text">Как победить хронические заболевания без лекарств</div>
                        <div class="gide__item-desc">Откройте естественные методы лечения, которые могут восстановить ваше здоровье без побочных эффектов.</div>
                    </li>
                    <li class="gide__item">
                        <div class="gide__item-title text">Как улучшить качество жизни</div>
                        <div class="gide__item-desc">Познакомьтесь с простыми изменениями в образе жизни, которые сделают каждый ваш день лучше.</div>
                    </li>
                    <li class="gide__item">
                        <div class="gide__item-title text">Как преодолеть усталость и восстановить энергию</div>
                        <div class="gide__item-desc">Откройте для себя, как восстановить внутренний баланс и чувствовать себя полным сил каждое утро.</div>
                    </li>
                    <li class="gide__item">
                        <div class="gide__item-title text">Как защитить себя от современных загрязнений</div>
                        <div class="gide__item-desc">Изучите, как минимизировать вред от окружающей среды и укрепить свой иммунитет.</div>
                    </li>
                    <li class="gide__item">
                        <div class="gide__item-title text">Как восстановиться после болезней</div>
                        <div class="gide__item-desc">Получите инструменты для быстрого восстановления и возвращения к полноценной жизни.</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="bio">
    <div class="container">
        <div class="bio__content">
            <div class="bio__info">
                <div class="sectionTitle">Борис Болотов</div>
                <div class="bio__info-text">
                    <p>Великий ученый и исследователь в области долголетия и здорового образа жизни. Его работа посвящена разработке методик, которые помогают людям жить дольше и здоровее. На протяжении более чем пятидесяти лет академик Болотов изучал, как процессы старения и болезни можно замедлить или даже обратить вспять, используя естественные подходы и изменения в образе жизни.</p>
                    <p>Его теории и практические рекомендации привлекли тысячи последователей по всему миру. Благодаря своему глубокому пониманию биологии человека и физиологии, Болотов смог разработать уникальные методы омоложения и улучшения здоровья, которые оказались эффективными для многих.</p>
                </div>
                <div class="bio__quote">“...я
                    попытался дать вам основную суть моих взглядов и
                    надеюсь, что применяя их практически, вы сами сможете
                    ощутить их действенность...”
                </div>
            </div>
            <div class="bio__img"></div>
        </div>
    </div>
</section>