html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	font-family: "Rubik", sans-serif;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	width: 100%;
}
a {
	text-decoration: none;
	text-transform: initial;
	color: unset;
	&:focus {
		color: #c17465;
	}
}
button {
	border: none;
	padding: 0;
	background: none;
}
.form-control {
	padding: 0;
}
.hide {
	display: none !important;
}
.d__block {
	display: block !important;
}
.d__flex {
	display: flex !important;
}
.revert {
	transform: rotateZ(180deg);
}
.revert45 {
	transform: rotateZ(45deg);
}
.revert180 {
	transform: rotateZ(180deg);
}
.container {
	max-width: 1640px;
	margin: auto;
	padding: 0 180px;
	@include max-xl {
		padding: 0 50px;
	}
	@include max-md {
		padding: 0 16px;
	}
}
.owl-stage-outer {
	overflow: hidden;
}
.owl-stage {
	display: flex;
	// align-items: center;
}
.owl-nav {
	// display: none;
}
.owl-dots {
	display: none;
}
.slick-arrow {
	display: none !important;
}
.slick-dots {
	display: none !important;
}
.custom-button {
	background: #c17465;
	border-radius: 5px;
	color: #fff;
}
.row-rewerse {
	flex-direction: row-reverse;
}
.opacity0 {
	opacity: 0;
}
.catalog__active {
	margin-top: 11px !important;
}
::-webkit-scrollbar {
	width: 0px;
	background: rgba(255, 255, 255, 0);
}
.sectionTitle {
	font-weight: 400;
	font-size: 48px;
	line-height: 56.88px;
	color: #202020;
	@include max-md {
		font-size: 24px;
		line-height: 28px;
		font-weight: 500;
	}
}
section {
	padding: 80px 0;
	@include max-md {
		padding: 48px 0;
	}
}
.btn__next {
	width: 13px;
	position: absolute;
	right: 30px;
	top: 0;
	bottom: 0;
	margin: auto;
}
select {
	-moz-appearance: none;
	-webkit-appearance: none;
}
select::-ms-expand {
	display: none;
}
.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	display: none;
	z-index: 5;
}
.customButton {
	border-radius: 8px;
	background-color: #73204a;
	padding: 15px 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 10px;
	width: max-content;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	line-height: 19px;
	border: 1px solid transparent;
	max-width: 248px;
	width: 100%;
	&:hover {
		color: #e9750e;
	}
	@include max-md {
		max-width: 100%;
	}

	&_transparent {
		border: 1px solid #73204a;
		color: #73204a;
		background-color: transparent;
		@include max-md {
			max-width: 100%;
		}
	}
}
.text {
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	color: #202020;
}
.btnGroup {
	display: flex;
	align-items: center;
	column-gap: 24px;
	margin-top: 40px;
	@include max-lg {
		column-gap: 10px;
	}
	@include max-md {
		flex-direction: column;
		row-gap: 12px;
		margin-top: 32px;
	}
}
.link {
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	color: #73204a;
	display: flex;
	align-items: center;
	column-gap: 8px;
	&::after {
		content: "";
		background-image: url("data:image/svg+xml,%3Csvg width='7' height='13' viewBox='0 0 7 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 11.5L6 6.5L1 1.5' stroke='%2373204A' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
		width: 5px;
		height: 9px;
		background-size: contain;
		background-repeat: no-repeat;
		display: block;
	}
}
